table th {
    width: 10em;
    padding: 1em;
}

table {
    position: center;
}

h1{
    color: rgb(165, 97, 42);
    background-color: bisque;
}

h2 {
    color: blue;
    background-color: bisque;
}

tr:nth-of-type(1) > th { 
    background-color: rgb(0, 255, 213);
}

tr:nth-of-type(2) > td,
tr:nth-of-type(3) > td,
tr:nth-of-type(4) > td,
tr:nth-of-type(5) > td,
tr:nth-of-type(6) > td,
tr:nth-of-type(7) > td,
tr:nth-of-type(8) > td,
tr:nth-of-type(9) > td,
tr:nth-of-type(10) > td,
tr:nth-of-type(11) > td,
tr:nth-of-type(12) > td,
tr:nth-of-type(13) > td {
    text-align: center;
    background-color: beige; 
}

body{
    margin: 0;
    padding: 0;
    background: url(fondo77.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.texto7{
    color: rgb(20, 20, 220);
}

.texto8{
    color: chocolate;
}

.Tablas table{
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 140px;
}

